[Unit]
Description=A little panel displaying data.
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/ssd1315 -c /usr/local/etc/ssd1315/config.conf

[Install]
WantedBy=multi-user.target
