[Unit]
Description=A little panel displaying data.
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/ssd1315_monitor/ssd1315 -c /home/pi/ssd1315_monitor/config.conf

[Install]
WantedBy=multi-user.target
